.products-top--title{
  display: block;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  &--text{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Hannotate SC',sans-serif;
    display: inline-block;
    margin-left: 10px;

    &-g{
      margin: 8px 0 0 0 ;
      color: red;
      display: inline-block;
    }

    &-o{
      margin: 6px 0 0 0 ;
      color: blue;
      display: inline-block;
    }
    &-o2{
      margin: 4px 0 0 0 ;
      color: green;
      display: inline-block;
    }

    &-d{
      margin: 2px 0 0 0 ;
      color: orange;
      display: inline-block;
    }

    &-p{
      margin: 2px 0 0 5px ;
      color: green;
      display: inline-block;
    }
    &-l{
      margin: 4px 0 0 0 ;
      color: red;
      display: inline-block;
    }
    &-a{
      margin: 6px 0 0 0 ;
      color: blue;
      display: inline-block;
    }
    &-c{
      margin: 8px 0 0 0 ;
      color: orange;
      display: inline-block;
    }

    &-e{
      margin: 6px 0 0 0 ;
      color: purple;
      display: inline-block;
    }
  }

  &--describe{
    font-family: arial,sans-serif;
    font-size: 12px;
    margin: 10px;
    display: inline-block;
  }

  &--right{
    float: right;
    margin: 10px;
    font-size: 12px;
    font-family: 'Hannotate SC',sans-serif;

    &--about{
      display: inline-block;

      .about-link{
        text-decoration: none;
        color: #333;
      }

      :hover{
          transform: scale(1.05,1.05);
          opacity: 0.5;
      }

      .title--right--about--underbar{
        display: none;
        background: blue;
        width: 100%;
        margin-top: 2px;
        height: 3px;
      }
    }

    &--vote{
      display: inline-block;
      margin-left: 10px;

      .vote-link{
        text-decoration: none;
        color: #333;
      }

      :hover{
          transform: scale(1.05,1.05);
          opacity: 0.5;
      }

      .title--right--vote--underbar{
        display: none;
        background: blue;
        width: 100%;
        margin-top: 2px;
        height: 3px;
      }
    }

    &--mypage{
      display: inline-block;
      margin-left: 10px;

      .mypage-link{
        text-decoration: none;
        color: #333;
      }

      :hover{
          transform: scale(1.05,1.05);
          opacity: 0.5;
      }

      .title--right--mypage--underbar{
        display: none;
        background: blue;
        width: 100%;
        margin-top: 2px;
        height: 3px;
      }
    }

    &--logout{
      display: inline-block;
      margin-left: 10px;

      .logout-link{
        text-decoration: none;
        color: #333;
      }

      :hover{
          transform: scale(1.05,1.05);
          opacity: 0.5;
      }

      .title--right--logout--underbar{
        display: none;
        background: blue;
        width: 100%;
        margin-top: 2px;
        height: 3px;
      }
    }

    &--login{
      display: inline-block;
      margin-left: 10px;

      .login-link{
        text-decoration: none;
        color: #333;
      }

      :hover{
          transform: scale(1.05,1.05);
          opacity: 0.5;
      }

      .title--right--login--underbar{
        display: none;
        background: blue;
        width: 100%;
        margin-top: 2px;
        height: 3px;
      }
    }

    &--table{
      margin-left: 10px;
      display: inline-block;

      .title--table-link{
        text-decoration: none;
        color: #333;
      }

      :hover{
        transform: scale(1.05,1.05);
        opacity: 0.5;
      }

      .title--right--table--underbar{
        display: none;
        background: blue;
        width: 100%;
        margin-top: 2px;
        height: 3px;
      }
    }
  }
}
