.products-top--title{
  display: block;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  &--text{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Hannotate SC',sans-serif;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;

    &-g{
      margin: 8px 0 0 0 ;
      display: inline-block;
    }
  }

  &--right{
    float: right;
    font-size: 12px;
    font-family: 'Hannotate SC',sans-serif;
    margin: 10px;

    &--delete{
      margin-left: 10px;
      padding-right: 20px;

      .delete-link{
        text-decoration: none;
        color: #333;
      }

      :hover{
          transform: scale(1.05,1.05);
          opacity: 0.5;
      }
    }

    &--vote{
      margin-left: 10px;
      padding-right: 20px;

      .vote-link{
        text-decoration: none;
        color: #333;
      }

      :hover{
          transform: scale(1.05,1.05);
          opacity: 0.5;
      }
    }

    &--mypage{
      margin-left: 10px;
      padding-right: 20px;

      .mypage-link{
        text-decoration: none;
        color: #333;
      }

      :hover{
          transform: scale(1.05,1.05);
          opacity: 0.5;
      }
    }

    &--logout{
      margin-left: 10px;

      .logout-link{
        text-decoration: none;
        color: #333;
      }

      :hover{
          transform: scale(1.05,1.05);
          opacity: 0.5;
      }
    }

    &--login{
      display: inline-block;
      margin-left: 10px;

      .login-link{
        text-decoration: none;
        color: #333;
      }

      :hover{
          transform: scale(1.05,1.05);
          opacity: 0.5;
      }
    }

    &--table{
      margin-left: 10px;
      display: inline-block;

      .title--table-link{
        text-decoration: none;
        color: #333;
      }

      :hover{
        transform: scale(1.05,1.05);
        opacity: 0.5;
      }
    }
  }
}
