.products-top{
  display: block;

  &--image{
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 auto;

    &--left{
      margin: 16px;

      .link-top-left{
        text-decoration: none;

        .products-top--image--left--objects{
          height: 380px;
          width: 380px;
          overflow: auto;
          -webkit-transition: 0.3s ease-in-out;
          -moz-transition: 0.3s ease-in-out;
          -o-transition: 0.3s ease-in-out;
          transition: 0.5s;
          border: 1px solid #333;

        }
        :hover{
          transform: scale(1.05,1.05);
          opacity: 0.5;
          -moz-transform: scale(1.1,1.1);
          -webkit-transform: scale(1.1,1.1);
          -o-transform: scale(1.1,1.1);
          -ms-transform: scale(1.1,1.1);
          -webkit-filter: sepia(100%);
          filter: grayscale(100%);
        }
      }

      .top-image-left--title{
        color: #333;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Hannotate SC',sans-serif;
        margin-top: 20px;
      }
    }
  }
}


  .scrollTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
}
