.products-top{
  display: block;

  &--content{
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    max-height: 60%;
    height: 500px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 auto;

    &--each{
      margin: 5px auto;
      height: 150px;
      width: 30%;
      border: 1px solid #333;
      border-radius: 5px;

      .link-top-left{
        text-decoration: none;

        .products-top--image--left--objects{
          height: 380px;
          width: 380px;
          overflow: auto;
          -webkit-transition: 0.3s ease-in-out;
          -moz-transition: 0.3s ease-in-out;
          -o-transition: 0.3s ease-in-out;
          transition: 0.5s;
          border: 1px solid #333;

        }
      }

      .top--content--title{
        color: #333;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Hannotate SC',sans-serif;
        margin: 8px;
      }

      .top-image-left--describe{
        color: #333;
        font-size: 14px;
        margin-left: 10px;
      }
    }
    :hover{
      transform: scale(1.05,1.05);
      opacity: 0.5;
      -moz-transform: scale(1.1,1.1);
      -webkit-transform: scale(1.1,1.1);
      -o-transform: scale(1.1,1.1);
      -ms-transform: scale(1.1,1.1);
      -webkit-filter: sepia(100%);
      filter: grayscale(100%);
    }
  }
}
  .scrollTop {
    position: fixed;
    bottom: 80px;
    right: 20px;
    font-size: 77%;
    opacity: 0.5;
    background-color: #333;
    height: 50px;
    width: 50px;

    i.fas.fa-chevron-up.fa-2x{
      color: #fff;
      top: 25%;
      left: 25%;
      position: absolute;
    }
  }
  .scrollDown {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
    opacity: 0.5;
    background-color: #333;
    height: 50px;
    width: 50px;

    i.fas.fa-chevron-down.fa-2x{
      color: #fff;
      top: 25%;
      left: 25%;
      position: absolute;
    }
}

//エラーテキスト
.errorTextTitle{
  display: none;
}

.errorTextDescribe{
  display: none;
}
