.product-vote{
  font-family: 'Hannotate SC',sans-serif;
  margin: 30px auto;
  width: 1300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: none;

  &--title{
    font-size: 20px;
    margin: 10px 0 0 10px;
  }

  &--main{
    margin: 10px;

    table.vote-table{
      margin: 10px;
      display: inline-block;
      vertical-align: middle;

      td.vote-table--title{
        .vote-form--title-field{
          border-radius:10%;
        }
      }

      td.vote-table--describe{
        padding-left: 20px;
        .vote-form--describe-field{
          border-radius:10%;
        }
      }

      td.vote-table--image{
        padding-left: 20px;
      }
    }

    .product-vote--next{
      display: inline-block;
      vertical-align: middle;

      .vote-btn{
        height: 60px;
        width: 60px;
        display: block;
        border-radius: 30px;
        background: #fff;
        -webkit-transition: 0.3s ease-in-out;
          -moz-transition: 0.3s ease-in-out;
          -o-transition: 0.3s ease-in-out;
          transition: 0.5s;
      }

      :hover{
        transform: scale(1.3,1.3);
          -moz-transform: scale(1.3,1.3);
          -webkit-transform: scale(1.3,1.3);
          -o-transform: scale(1.3,1.3);
          -ms-transform: scale(1.3,1.3);
      }
    }
  }
}
